 <div class="user-details">
  <h1> Me </h1>
  <p> {{site.user_description}} </p>
 	 
  <ul style="list-style-type:square">
  </ul>
  <hr>
  <h3>Education</h3>
  <ul style="list-style-type:square">   
	   <li><a style="text-decoration:none; color:grey;" href="https://www.yildiz.edu.tr/en/">BS, Yildiz Technical University, Mechanical Engineering</a></li>
	   <li><a style="text-decoration:none; color:grey;" href="https://www.msu.edu.tr/eng/" onclick="window.open('http://www.hezarfen.hho.edu.tr/en/index.php');return true;">MSc, National Defence University, Aeronautical and Astronautical Engineering </a></li>
 	   <li><a style="text-decoration:none; color:grey;" href="https://www.msu.edu.tr/eng/" onclick="window.open('http://www.hezarfen.hho.edu.tr/en/index.php');return true;">PhD, National Defence University, Aeronautical and Astronautical Engineering </a></li>

  </ul>
  <hr>
  <h3>Experiences</h3>
  <ul style="list-style-type:square">
	  <li><a style="text-decoration:none; color:grey;" href="https://kyutech-laseine.net/english/">Kyushu Institute of Technology, Laboratory of Lean Satellite Enterprises and In-Orbit Experiments (LaSEINE), Visiting Researcher, Japan</a></li>
	<li><a style="text-decoration:none; color:grey;" href="https://msu.edu.tr/eng/default.aspx">National Defence University, Research Assistant, Turkey</a></li>
	<li><a style="text-decoration:none; color:grey;" href="https://www.tofas.com.tr/en/Pages/default.aspx">Tofaş Turkish Automobile Factory, R&D, Internship, Turkey</a></li>
	<li><a style="text-decoration:none; color:grey;" href="http://www.arcelikglobal.com/en/">BEKO Arcelik, R&D Garage & Maker Lab., Internship, Turkey</a></li>
	<li><a style="text-decoration:none; color:grey;" href="https://www.tai.com.tr/en/">Turkish Aerospace Industries Inc., Internship, Turkey</a></li>
	<li><a style="text-decoration:none; color:grey;" href="https://www.toyotatr.com/">Toyota Motor Manufacturing, Internship, Turkey</a></li>
	<li><a style="text-decoration:none; color:grey;" href="http://www.ic.is.tohoku.ac.jp/en/">Tohoku University, Hashimoto-Kagami Laboratory, Visiting Researcher, Japan</a></li>

  </ul>	
  <hr>
  <h3>Publications & Projects</h3>
  <ul style="list-style-type:square">
	<li><a style="text-decoration:none; color:grey;" >Şanlı, A., Erkeç, T. Y. (2024). Design and Analysis of Optical Telescope Subsystem. Journal of Aeronautics and Space Technologies, 17(Special Issue), 92–101. Online ISSN: 2148-1059 Print ISSN: 1304-0448</a></li>
	<li><a style="text-decoration:none; color:grey;" >Erkeç, T.Y., Şanlı, A. (2023). Turkey's Space Exploration: Contributions to the Turkish Defense Industry. Journal of Atatürk Strategic Studies and Graduate Instıtute, November. E-ISSN: 2757-9328</a></li>
	<li><a style="text-decoration:none; color:grey;" >Çalış, R.Ç., Başol, D., Tunca, Ş.E., Tokat, U., Şanlı, A.(Advisor)(2023-2024). TUBITAK 2209-A Research Project Support Programme for Undergraduate Students, Project: Development of Capable Remote Sensing Payload for CubeSats and Structural Subsystem Modeling Supported by Generative Design for the System Mission</a></li>
	<li><a style="text-decoration:none; color:grey;" >Deniz, M., Polat F., Şanlı, A.(Advisor)(2023-2024). TUBITAK 2209-A Research Project Support Programme for Undergraduate Students, Project: Applying Index to Images Received from Satellite</a></li>
	<li><a style="text-decoration:none; color:grey;" >Şanlı, A., Erkeç, T. Y., Beceren, M., Uyanık, İ. C., Yenginer, H. (2023). Reflective Optical Telescope Subsystem for CubeSats. Aviation Technologies and Applications Conference 2023 ATAConf’23. E-ISBN: 978-605-338-423-6</a></li>
	<li><a style="text-decoration:none; color:grey;" >Şanlı, A., Erkeç, T. Y., Beceren, M., & Kemallı, M. F. (2023). Architecture of Stratosphere Rocket for CubeSats. International Journal of Aviation Science and Technology, 4(01), 14-22. DOI: 10.23890/IJAST.vm04is01.0102</a></li>
	<li><a style="text-decoration:none; color:grey;" >Şanlı, A., Erkeç T. Y. (2023). Development of a Reflector Optical Telescope Subsystem for Remote Sensing. 2023 10th International Conference on Recent Advances in Air and Space Technologies (RAST) (pp. 01-09). IEEE. DOI: 10.1109/RAST57548.2023.10198017.IEEE</a></li>
	<li><a style="text-decoration:none; color:grey;" >Bahtiyar, M., Sert, S, Korkmazdağ, İ.E., Türkoğlu E.B., Şanlı, A. (2023). Design and Development of Reflector Telescope. 2023 10th International Conference on Recent Advances in Air and Space Technologies (RAST) (pp. 1-4). IEEE. DOI: 10.1109/RAST57548.2023.10198019.IEEE</a></li>
	<li><a style="text-decoration:none; color:grey;" >Şanlı, A., Erkeç, T.Y. (2023). Turkey's Rise in Space Towards the Second Century of the Republic. Journal of Atatürk Strategic Studies and Graduate Instıtute, May. E-ISSN: 2757-9328 </a></li>
	<li><a style="text-decoration:none; color:grey;" >Şanlı, A. (2023). CubeSat Technologies. Journal of Turkish Air Force, February. ISSN: 1302-6518 </a></li>
	<li><a style="text-decoration:none; color:grey;" >Şanlı, A. (2023). Thermal Analysis of ASTINSAT-1. In: Karakoc, T.H., Letnik, T., Marksel, M., Ekmekci, I., Dalkiran, A., Ercan, A.H. (eds) Emerging Trends in Electric Aviation. ISEAS 2022. Sustainable Aviation. Springer, Cham. https://doi.org/10.1007/978-3-031-37299-5_3</a></li>
	<li><a style="text-decoration:none; color:grey;" >Şanlı, A., Erkeç, T.Y. (2024). Structural and Flow Analysis of Launch Vehicle for CubeSats. Novel Techniques in Maintenance, Repair, and Overhaul. ISATECH 2022. Sustainable Aviation. Springer, Cham. https://doi.org/10.1007/978-3-031-42041-2_15</a></li>
	<li><a style="text-decoration:none; color:grey;" >Şanlı, A., Erkeç, T.Y., Beceren, M., Kemalli, M.F. (2023). Design and Analysis of Rocket Launch Vehicle for CubeSats. New Technologies and Developments in Unmanned Systems. ISUDEF 2022. Sustainable Aviation. Springer, Cham. https://doi.org/10.1007/978-3-031-37160-8_24</a></li>
	<li><a style="text-decoration:none; color:grey;" >Şanlı, A., Aslan, A.R. (2022). Design of Astinsat1 and Structural Analysis Use of Generative Design. 6th International Congress On Engineering and Technology Management. E-ISBN: 978-625-7367-27-1 </a></li>
	<li><a style="text-decoration:none; color:grey;" >Özdemir, Ö., Şanlı, A., Yaman, E. (2021). Fuel Cell Electric Vehicle (FCEV) Technology and Its Effects on Vehicle Architecture. International 10th Automotive Technologies Congress OTEKON 2020. ISBN: 978-605-70422-4-8 </a></li>
	<li><a style="text-decoration:none; color:grey;" >Patkavak, M., Şanlı, A. (2021) Determining Heat Transfer Coefficients of 0.08 mm, 0.1 mm Diameter Wires in Wind Tunnel. Internatıonal Turkic World Congress on Science and Engineering. ISBN: 978-975-8062-41-6 </a></li>
  </ul>
  <hr>
	 
    </div>
</div>
