<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:alpersanli16@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Google Scholar" target="_blank" href="https://scholar.google.com.tr/citations?user=lTWjvbgAAAAJ&hl=en"><i class="icon fa fa-google" aria-hidden="true"></i></a>
        <a aria-label="My Web of Science" target="_blank" href="https://www.webofscience.com/wos/author/record/KFA-4591-2024"><i class="icon fa fa-file-text" aria-hidden="true"></i></a>
        <a aria-label="My ORCID" target="_blank" href="https://orcid.org/0000-0002-4338-7685"><i class="icon fa fa-book" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/alpersanli"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My GrabCAD" target="_blank" href="https://grabcad.com/alper.sanli-1"><i class="icon fa fa-cube" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>.- .-.. .--. . .-. ... .- -. .-.. ..</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
